<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.root.deep"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.example.root.WebativeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name">
        <activity android:name="com.example.root.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.root.deeplink.DeeplinkActivity"
            android:allowTaskReparenting="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="tonative"
                    android:scheme="dianrong" />

            </intent-filter>
        </activity>
        <activity android:name="com.example.root.DestActivity">
        </activity>
        <activity android:name="com.example.root.deeplink.WebViewActivity">
        </activity>
        <activity android:name="com.example.root.jsbridge.BridgeWebActivity">
        </activity>
        <activity android:name="com.example.root.jsroad.RoadWebActivity" />
        <activity android:name="com.example.root.router.RouterActivity">
        </activity>
    </application>

</manifest>